account     | code        | contributor | location | exchange | device_type | public_ip        | dz_prefixes                              | users | max_users | status    | owner              | mgmt_vrf
IGNORED     | la2-dz01    | co01        | lax      | xlax     | switch      | 207.45.216.134   | 207.45.216.136/30, 200.12.12.12/29       | 5     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | ty2-dz01    | co01        | tyo      | xtyo     | switch      | 180.87.154.112   | 180.87.154.120/29                        | 0     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | ams-dz001   | co01        | ams      | xams     | switch      | 195.219.138.50   | 195.219.138.56/29                        | 0     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | pit-dzd01   | co01        | pit      | xpit     | switch      | 204.16.241.243   | 204.16.243.243/32                        | 0     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | frk-dz01    | co01        | fra      | xfra     | switch      | 195.219.220.88   | 195.219.220.96/29                        | 0     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | sg1-dz01    | co01        | sin      | xsin     | switch      | 180.87.102.104   | 180.87.102.112/29                        | 0     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | ny5-dz01    | co01        | ewr      | xewr     | switch      | {{.DeviceIP}}    | {{.DeviceDZPrefix}}                      | 1     | 128       | activated | {{.ManagerPubkey}} | mgmt
IGNORED     | ld4-dz01    | co01        | lhr      | xlhr     | switch      | 195.219.120.72   | 195.219.120.80/29                        | 0     | 128       | activated | {{.ManagerPubkey}} | mgmt
